aiohttp==3.12.9
fastapi==0.115.13
grpcio==1.73.0
httpx==0.28.1
langchain_core==0.3.66
langchain_google_genai==2.1.5
livekit==1.0.8
livekit_api==1.0.2
livekit_plugins_noise_cancellation==0.2.4
livekit_protocol==1.0.3
nltk==3.9.1
protobuf==6.31.1
pydantic==2.11.7
python-dotenv==1.1.1
uvicorn==0.34.3
